
$color-primary-0: #D0021A;	// Main Primary color */
$color-primary-1: #F55265;
$color-primary-2: #F0253C;
$color-primary-3: #A90014;
$color-primary-4: #81000F;

$color-secondary-1-0: #D95902;	// Main Secondary color (1) */
$color-secondary-1-1: #FF9A55;
$color-secondary-1-2: #FA7C26;
$color-secondary-1-3: #B04700;
$color-secondary-1-4: #873700;

$color-secondary-2-0: #018973;	// Main Secondary color (2) */
$color-secondary-2-1: #39A996;
$color-secondary-2-2: #189E88;
$color-secondary-2-3: #00705D;
$color-secondary-2-4: #005547;

$color-complement-0: #27B702;	// Main Complement color */
$color-complement-1: #67DA49;
$color-complement-2: #45D220;
$color-complement-3: #1F9400;
$color-complement-4: #187200;

$color-white-0: whitesmoke;
